@import 'setup/vars';
@import 'base/base';
@import 'base/helpers';
@import 'base/layout';
@import 'cmps/story-preview';
@import 'pages/story-index';

.dark-mode{
    --clr1: $clr1;
}

.main-app{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas:
        'sidebar    indexpage';
    grid-template-columns: 2fr 10fr;
}

.sidebar {
    border: 1px solid black;
    height: 100%;
}

.newstories {
    border: 1px solid black;
    grid-area: newstories;
}

.story-list {
    border: 1px solid black;
    grid-area: story-list;
}

.user-cmp {
    border: 1px solid black;
    grid-area: user-cmp;
}

.suggested-for-you {
    border: 1px solid black;
    grid-area: suggested-for-you;

}

.about {
    border: 1px solid black;
    grid-area: about;
}