@import '../setup/vars';


html{
    width: 100%;
}

#root{
    width: 100%;
    height: 100%;
}

body {
    display: grid;
    background-color: $clr5;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    font-family: "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helve";
    // font-family: "Google Sans", "Roboto", "RobotoDraft", Helvetica, Arial,
    //     sans-serif;
    // font-size: 0.875rem;
    // color: rgb(32, 33, 36);
    // user-select: none;
}