.story-index {
    grid-area: indexpage;
    margin-inline-start: 100px;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas:
        'newstories loggedin'
        'story-list suggested-for-you'
        'story-list about';
    grid-template-rows: 1.5fr 5fr 4fr;
    grid-template-columns: 8fr 4fr;
}